body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-padd {
  padding-top: 75px;
}

.signup-submit-button-width {
  padding: 5px 28px 0px 28px;
}

.login-form-margin-top {
  margin-top: 10%;
}

.input-form {
  border-radius: 25px 25px 25px 25px;
}
.tab-padding {
  margin-right: 170px;
  margin-left: 170px;
  margin-top: 40px;
}
#logout-button-position {
  margin-left: 989px;
}
/* 
  Checks and sees if the screen is bigger than 1600px
  if it is then it changes the padding to the following 
*/
@media (min-width: 1600px) {
  .tab-padding {
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 40px;
  }
}
